@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="container">
    <h1 class="mt-5 text-center">@Model.StatusMessage</h1>
    <div class="text-center mt-3">
        <a class="btn btn-primary" href="#">Back to site</a>
    </div>
</div>