@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container text-center mt-5">
    <h1>
        Please check your email to reset your password.
    </h1>
</div>

